body {
  background: greenyellow;
  margin: 0 auto;
}

/* AOC */
.AOCpopUp {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
}
.AOCpopUpContainer {
  margin: 50px auto;
  border: 20px solid;
  border-image-source: url(/aoc-repeat-pattern_64x64.jpg);
  border-image-repeat: repeat;
  border-image-slice: 7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 20px 20px;
  max-width: 80%;
  align-items: flex-start;
}

.AOC-ModalButton {
  margin: 3px 10px;
}

/* Cookie */

.cookieModalBox {
  visibility: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  width: 100%;
}

.cookieModalBoxContainer {
  background: white;
  margin: 50px auto;
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  padding: 10px 0px 20px 20px;
  max-width: 80%;
}

@media only screen and (max-width: 360px) {
  .cookieModalBoxContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 80%;
  }
}

.cookieModalButton {
  background-color: rgba(255, 56, 116, 1);
  color: rgba(14, 5, 5, 1);
  /* top: 80px;
  right: 5px; */
  margin: 15px;
  padding: 8px;
  width: 150px;
}

@media only screen and (max-width: 360px) {
  .cookieModalButton {
    width: 100%;
    margin: 10px 10px 10px 0px;
  }
}
