body {
  background: green;
}

/* AOC */
.AOCpopUp {
  visibility: hidden;
  display: flex;
}
.AOCpopUpContainer {
  margin: 50px auto;
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0px 20px 20px;
  max-width: 80%;
}

.AOC-ModalButton {
  margin: 20px;
}

/* Cookie */

.cookieModalBox {
  visibility: hidden;
  display: flex;
  position: fixed;
  bottom: 100px;
  width: 100%;
}

.cookieModalBox-container {
  background: white;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 360px) {
  .cookieModalBoxContainer {
    flex-wrap: wrap;
  }
}

.cookieModalButton {
  background-color: rgba(255, 56, 116, 1);
  color: rgba(14, 5, 5, 1);
  /* top: 80px;
  right: 5px; */
  margin: 20px;
  padding: 10px;
  @media only screen and (max-width: 360px) {
    width: 100%;
  }
}
